# Node.js (frontend)
node_modules/
dist/
build/
.bun.lockb

# Python (backend)
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.env
backend/.venv/
backend/ENV/
backend/env/
backend/.ipynb_checkpoints/
backend/*.egg-info/
backend/dist/
backend/build/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env